*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 10px 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0 3px 5px grey;
  z-index: 9999;
}

.header__logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: green;
  text-align: center;
}

.header__nav {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
}

.header__link {
  text-transform: uppercase;
  text-shadow: 1px 2px 3px black;
}

/* Promo */
.promo {
  background-image: linear-gradient(to top, #d43f8d 0%, #0250c5 100%);
}

.promo__title {
  color: white;
  text-shadow: 1px 2px 3px black;
  text-align: center;
  padding-top: 100px;
}

.promo__gallery {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 30px;
}

.promo__row {
}

.promo__article {
  display: inline-block;
  width: 33%;
  /* margin-right: 30px; */
}

.promo__article_last {
  margin-right: 0;
}

iframe {
  width: 100%;
}
